.br-50{
    border-radius: 50%;
}

.br-4px {
    border-radius: 0.25rem;
  }
  
  .br-8px {
    border-radius: 0.5rem;
  }
  
  .br-12px {
    border-radius: 0.75rem;
  }
  
  .br-16px {
    border-radius: 1rem;
  }
  
  .br-18px {
    border-radius: 1.125rem;
  }
  
  .br-20px {
    border-radius: 1.25rem;
  }
  
  .br-24px {
    border-radius: 1.5rem;
  }
  
  .br-28px {
    border-radius: 1.75rem;
  }
  
  .br-32px {
    border-radius: 2rem;
  }
  
  .br-36px {
    border-radius: 2.25rem;
  }
  
  .br-40px {
    border-radius: 2.5rem;
  }
  
  .br-56px {
    border-radius: 3.5rem;
  }