.br-50{
    border-radius: 50%;
}

.br-4 {
    border-radius: 0.25rem;
  }
  
  .br-8 {
    border-radius: 0.5rem;
  }
  
  .br-12 {
    border-radius: 0.75rem;
  }
  
  .br-16 {
    border-radius: 1rem;
  }
  
  .br-18 {
    border-radius: 1.125rem;
  }
  
  .br-20 {
    border-radius: 1.25rem;
  }
  
  .br-24 {
    border-radius: 1.5rem;
  }
  
  .br-28 {
    border-radius: 1.75rem;
  }
  
  .br-32 {
    border-radius: 2rem;
  }
  
  .br-36 {
    border-radius: 2.25rem;
  }
  
  .br-40 {
    border-radius: 2.5rem;
  }
  
  .br-56 {
    border-radius: 3.5rem;
  }