.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.fx-warp{
flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-between {
  justify-content: space-between;
}

.ai-baseline {
  align-items: baseline;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.fd-col {
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.grd-tpt-col-auto {
  grid-template-columns: repeat(auto-fit, minmax(130px, auto));
}

.d-block {
  display: block;
}

.red{
  background-color: red;
}
