.gp-4px {
  gap: 0.25rem;
}

.gp-8px {
  gap: 0.5rem;
}

.gp-12px {
  gap: 0.75rem;
}

.gp-16px {
  gap: 1rem;
}

.gp-18px {
  gap: 1.125rem;
}

.gp-20px {
  gap: 1.25rem;
}

.gp-24px {
  gap: 1.5rem;
}

.gp-28px {
  gap: 1.75rem;
}

.gp-32px {
  gap: 2rem;
}

.gp-36px {
  gap: 2.25rem;
}

.gp-40px {
  gap: 2.5rem;
}

.gp-56px {
  gap: 3.5rem;
}
