.gp-4 {
  gap: 0.25rem;
}

.gp-8 {
  gap: 0.5rem;
}

.gp-12 {
  gap: 0.75rem;
}

.gp-16 {
  gap: 1rem;
}

.gp-18 {
  gap: 1.125rem;
}

.gp-20 {
  gap: 1.25rem;
}

.gp-24 {
  gap: 1.5rem;
}

.gp-28 {
  gap: 1.75rem;
}

.gp-32 {
  gap: 2rem;
}

.gp-36 {
  gap: 2.25rem;
}

.gp-40 {
  gap: 2.5rem;
}

.gp-56 {
  gap: 3.5rem;
}
