.h-screen {
  height: 100vh;
}

.h-screen-90 {
  height: 90vh;
}

.h-screen-80 {
  height: 80vh;
}

.h-screen-70 {
  height: 70vh;
}

.h-auto {
  height: auto;
}

.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.h-4px {
  height: 0.25rem;
}

.h-8px {
  height: 0.5rem;
}

.h-12px {
  height: 0.75rem;
}

.h-16px {
  height: 1rem;
}

.h-18px {
  height: 1.125rem;
}

.h-20px {
  height: 1.25rem;
}

.h-24px {
  height: 1.5rem;
}

.h-28px {
  height: 1.75rem;
}

.h-32px {
  height: 2rem;
}

.h-36px {
  height: 2.25rem;
}

.h-40px {
  height: 2.5rem;
}

.h-56px {
  height: 3.5rem;
}
