.mg-tp-4px {
    margin-top: 0.25rem;
  }
  
  .mg-tp-8px {
    margin-top: 0.5rem;
  }
  
  .mg-tp-12px {
    margin-top: 0.75rem;
  }
  
  .mg-tp-16px {
    margin-top: 1rem;
  }
  
  .mg-tp-18px {
    margin-top: 1.125rem;
  }
  
  .mg-tp-20px {
    margin-top: 1.25rem;
  }
  
  .mg-tp-24px {
    margin-top: 1.5rem;
  }
  
  .mg-tp-28px {
    margin-top: 1.75rem;
  }
  
  .mg-tp-32px {
    margin-top: 2rem;
  }
  
  .mg-tp-36px {
    margin-top: 2.25rem;
  }
  
  .mg-tp-40px {
    margin-top: 2.5rem;
  }
  
  .mg-tp-56px {
    margin-top: 3.5rem;
  }
  
  .mg-tp-64px {
    margin-top: 4rem;
  }
  
  .mg-tp-72px {
    margin-top: 4.5rem;
  }
  
  .mg-tp-80px {
    margin-top: 5rem;
  }
  
  .mg-tp-80px {
    margin-top: 5rem;
  }
  
  .mg-tp-96px{
    margin-top: 6rem;
  }

  .mg-tp-n4px {
    margin-top: -0.25rem;
  }
  
  .mg-tp-n8px {
    margin-top: -0.5rem;
  }
  
  .mg-tp-n12px {
    margin-top: -0.75rem;
  }
  
  .mg-tp-n16px {
    margin-top: -1rem;
  }
  
  .mg-tp-n18px {
    margin-top: -1.125rem;
  }
  
  .mg-tp-n20px {
    margin-top: -1.25rem;
  }
  
  .mg-tp-n24px {
    margin-top: -1.5rem;
  }
  
  .mg-tp-n28px {
    margin-top: -1.75rem;
  }
  
  .mg-tp-n32px {
    margin-top: -2rem;
  }
  
  .mg-tp-n36px {
    margin-top: -2.25rem;
  }
  
  .mg-tp-n40px {
    margin-top: -2.5rem;
  }
  
  .mg-tp-n56px {
    margin-top: -3.5rem;
  }
  
  .mg-tp-n64px {
    margin-top: -4rem;
  }
  
  .mg-tp-n72px {
    margin-top: -4.5rem;
  }
  
  .mg-tp-n80px {
    margin-top: -5rem;
  }
  
  .mg-tp-n80px {
    margin-top: -5rem;
  }
  
  .mg-tp-n96px {
    margin-top: -6rem;
  }
  