.mg-bt-4px {
    margin-bottom: 0.25rem;
  }
  
  .mg-bt-8px {
    margin-bottom: 0.5rem;
  }
  
  .mg-bt-12px {
    margin-bottom: 0.75rem;
  }
  
  .mg-bt-16px {
    margin-bottom: 1rem;
  }
  
  .mg-bt-18px {
    margin-bottom: 1.125rem;
  }
  
  .mg-bt-20px {
    margin-bottom: 1.25rem;
  }
  
  .mg-bt-24px {
    margin-bottom: 1.5rem;
  }
  
  .mg-bt-28px {
    margin-bottom: 1.75rem;
  }
  
  .mg-bt-32px {
    margin-bottom: 2rem;
  }
  
  .mg-bt-36px {
    margin-bottom: 2.25rem;
  }
  
  .mg-bt-40px {
    margin-bottom: 2.5rem;
  }
  
  .mg-bt-56px {
    margin-bottom: 3.5rem;
  }
  
  .mg-bt-64px {
    margin-bottom: 4rem;
  }
  
  .mg-bt-72px {
    margin-bottom: 4.5rem;
  }
  
  .mg-bt-80px {
    margin-bottom: 5rem;
  }
  
  .mg-bt-80px {
    margin-bottom: 5rem;
  }
  
  .mg-bt-96{
    margin-bottom: 6rem;
  }