.mg-rg-4px {
    margin-right: 0.25rem;
  }
  
  .mg-rg-8px {
    margin-right: 0.5rem;
  }
  
  .mg-rg-12px {
    margin-right: 0.75rem;
  }
  
  .mg-rg-16px {
    margin-right: 1rem;
  }
  
  .mg-rg-18px {
    margin-right: 1.125rem;
  }
  
  .mg-rg-20px {
    margin-right: 1.25rem;
  }
  
  .mg-rg-24px {
    margin-right: 1.5rem;
  }
  
  .mg-rg-28px {
    margin-right: 1.75rem;
  }
  
  .mg-rg-32px {
    margin-right: 2rem;
  }
  
  .mg-rg-36px {
    margin-right: 2.25rem;
  }
  
  .mg-rg-40px {
    margin-right: 2.5rem;
  }
  
  .mg-rg-56px {
    margin-right: 3.5rem;
  }
  
  .mg-rg-64px {
    margin-right: 4rem;
  }
  
  .mg-rg-72px {
    margin-right: 4.5rem;
  }
  
  .mg-rg-80px {
    margin-right: 5rem;
  }
  
  .mg-rg-80px {
    margin-right: 5rem;
  }
  
  .mg-rg-96{
    margin-right: 6rem;
  }