.mg-lf-25n{
  margin-left: -25%;
  background-color: red;
}

.mg-lf-4px {
    margin-left: 0.25rem;
  }
  
  .mg-lf-8px {
    margin-left: 0.5rem;
  }
  
  .mg-lf-12px {
    margin-left: 0.75rem;
  }
  
  .mg-lf-16px {
    margin-left: 1rem;
  }
  
  .mg-lf-18px {
    margin-left: 1.125rem;
  }
  
  .mg-lf-20px {
    margin-left: 1.25rem;
  }
  
  .mg-lf-24px {
    margin-left: 1.5rem;
  }
  
  .mg-lf-28px {
    margin-left: 1.75rem;
  }
  
  .mg-lf-32px {
    margin-left: 2rem;
  }
  
  .mg-lf-36px {
    margin-left: 2.25rem;
  }
  
  .mg-lf-40px {
    margin-left: 2.5rem;
  }
  
  .mg-lf-56px {
    margin-left: 3.5rem;
  }
  
  .mg-lf-64px {
    margin-left: 4rem;
  }
  
  .mg-lf-72px {
    margin-left: 4.5rem;
  }
  
  .mg-lf-80px {
    margin-left: 5rem;
  }
  
  .mg-lf-80px {
    margin-left: 5rem;
  }
  
  .mg-lf-96{
    margin-left: 6rem;
  }