.pd-lf-4 {
    margin-left: 0.25rem;
  }
  
  .pd-lf-8 {
    margin-left: 0.5rem;
  }
  
  .pd-lf-12 {
    margin-left: 0.75rem;
  }
  
  .pd-lf-16 {
    margin-left: 1rem;
  }
  
  .pd-lf-18 {
    margin-left: 1.125rem;
  }
  
  .pd-lf-20 {
    margin-left: 1.25rem;
  }
  
  .pd-lf-24 {
    margin-left: 1.5rem;
  }
  
  .pd-lf-28 {
    margin-left: 1.75rem;
  }
  
  .pd-lf-32 {
    margin-left: 2rem;
  }
  
  .pd-lf-36 {
    margin-left: 2.25rem;
  }
  
  .pd-lf-40 {
    margin-left: 2.5rem;
  }
  
  .pd-lf-56 {
    margin-left: 3.5rem;
  }
  
  .pd-lf-64 {
    margin-left: 4rem;
  }
  
  .pd-lf-72 {
    margin-left: 4.5rem;
  }
  
  .pd-lf-80 {
    margin-left: 5rem;
  }
  
  .pd-lf-80 {
    margin-left: 5rem;
  }
  
  .pd-lf-96{
    margin-left: 6rem;
  }