.of-hidden {
  overflow: hidden;
}

.of-scroll {
    overflow: scroll;
  }

  .of-scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .of-scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .bar-hidden-scroll-chrome-safari::-webkit-scrollbar {
    display: none;
  }

  .bar-hidden-scroll-fox {
    overflow: -moz-scrollbars-none;
  }

  .bar-scroll::-webkit-scrollbar-thumb{
    background-color: $bg-accent;

  }

  .bar-scroll::-webkit-scrollbar{
    height: 4px;
    background-color: $bg-secundary;
  }

  .bar-scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: $bg-accent $bg-secundary;
  }
  
