.of-hidden {
  overflow: hidden;
}

.of-scroll {
    overflow: scroll;
  }

  .of-scroll-y {
    overflow-y: scroll;
  }

  .bar-hidden-scroll-chrome-safari::-webkit-scrollbar {
    display: none;
  }

  .bar-hidden-scroll-fox {
    overflow: -moz-scrollbars-none;
  }
  
  .bar-hidden-scroll-ie {
    -ms-overflow-style: none;
  }