.pd-rg-4px {
    padding-right: 0.25rem;
  }
  
  .pd-rg-8px {
    padding-right: 0.5rem;
  }
  
  .pd-rg-12px {
    padding-right: 0.75rem;
  }
  
  .pd-rg-16px {
    padding-right: 1rem;
  }
  
  .pd-rg-18px {
    padding-right: 1.125rem;
  }
  
  .pd-rg-20px {
    padding-right: 1.25rem;
  }
  
  .pd-rg-24px {
    padding-right: 1.5rem;
  }
  
  .pd-rg-28px {
    padding-right: 1.75rem;
  }
  
  .pd-rg-32px {
    padding-right: 2rem;
  }
  
  .pd-rg-36px {
    padding-right: 2.25rem;
  }
  
  .pd-rg-40px {
    padding-right: 2.5rem;
  }
  
  .pd-rg-56px {
    padding-right: 3.5rem;
  }
  
  .pd-rg-64px {
    padding-right: 4rem;
  }
  
  .pd-rg-72px {
    padding-right: 4.5rem;
  }
  
  .pd-rg-80px {
    padding-right: 5rem;
  }
  
  .pd-rg-80px {
    padding-right: 5rem;
  }
  
  .pd-rg-96px{
    padding-right: 6rem;
  }