.pd-lf-4px {
    padding-left: 0.25rem;
  }
  
  .pd-lf-8px {
    padding-left: 0.5rem;
  }
  
  .pd-lf-12px {
    padding-left: 0.75rem;
  }
  
  .pd-lf-16px {
    padding-left: 1rem;
  }
  
  .pd-lf-18px {
    padding-left: 1.125rem;
  }
  
  .pd-lf-20px {
    padding-left: 1.25rem;
  }
  
  .pd-lf-24px {
    padding-left: 1.5rem;
  }
  
  .pd-lf-28px {
    padding-left: 1.75rem;
  }
  
  .pd-lf-32px {
    padding-left: 2rem;
  }
  
  .pd-lf-36px {
    padding-left: 2.25rem;
  }
  
  .pd-lf-40px {
    padding-left: 2.5rem;
  }
  
  .pd-lf-56px {
    padding-left: 3.5rem;
  }

  .pd-lf-64px {
    padding-left: 4rem;
  }

  .pd-lf-72px {
    padding-left: 4.5rem;
  }

  .pd-lf-80px {
    padding-left: 5rem;
  }

  .pd-lf-80px {
    padding-left: 5rem;
  }

  .pd-lf-96{
    padding-left: 6rem;
  }