.pd-4 {
    padding: 0.25rem;
  }
  
  .pd-8 {
    padding: 0.5rem;
  }
  
  .pd-12 {
    padding: 0.75rem;
  }
  
  .pd-16 {
    padding: 1rem;
  }
  
  .pd-18 {
    padding: 1.125rem;
  }
  
  .pd-20 {
    padding: 1.25rem;
  }
  
  .pd-24 {
    padding: 1.5rem;
  }
  
  .pd-28 {
    padding: 1.75rem;
  }
  
  .pd-32 {
    padding: 2rem;
  }
  
  .pd-36 {
    padding: 2.25rem;
  }
  
  .pd-40 {
    padding: 2.5rem;
  }
  
  .pd-56 {
    padding: 3.5rem;
  }

  .pd-64 {
    padding: 4rem;
  }

  .pd-72 {
    padding: 4.5rem;
  }

  .pd-80 {
    padding: 5rem;
  }

  .pd-80 {
    padding: 5rem;
  }

  .pd-96{
    padding: 6rem;
  }