.pd-bt-4 {
    padding-bottom: 0.25rem;
  }
  
  .pd-bt-8 {
    padding-bottom: 0.5rem;
  }
  
  .pd-bt-12 {
    padding-bottom: 0.75rem;
  }
  
  .pd-bt-16 {
    padding-bottom: 1rem;
  }
  
  .pd-bt-18 {
    padding-bottom: 1.125rem;
  }
  
  .pd-bt-20 {
    padding-bottom: 1.25rem;
  }
  
  .pd-bt-24 {
    padding-bottom: 1.5rem;
  }
  
  .pd-bt-28 {
    padding-bottom: 1.75rem;
  }
  
  .pd-bt-32 {
    padding-bottom: 2rem;
  }
  
  .pd-bt-36 {
    padding-bottom: 2.25rem;
  }
  
  .pd-bt-40 {
    padding-bottom: 2.5rem;
  }
  
  .pd-bt-56 {
    padding-bottom: 3.5rem;
  }
  
  .pd-bt-64 {
    padding-bottom: 4rem;
  }
  
  .pd-bt-72 {
    padding-bottom: 4.5rem;
  }
  
  .pd-bt-80 {
    padding-bottom: 5rem;
  }
  
  .pd-bt-80 {
    padding-bottom: 5rem;
  }
  
  .pd-bt-96{
    padding-bottom: 6rem;
  }