.pd-4px {
    padding: 0.25rem;
  }
  
  .pd-8px {
    padding: 0.5rem;
  }
  
  .pd-12px {
    padding: 0.75rem;
  }
  
  .pd-16px {
    padding: 1rem;
  }
  
  .pd-18px {
    padding: 1.125rem;
  }
  
  .pd-20px {
    padding: 1.25rem;
  }
  
  .pd-24px {
    padding: 1.5rem;
  }
  
  .pd-28px {
    padding: 1.75rem;
  }
  
  .pd-32px {
    padding: 2rem;
  }
  
  .pd-36px {
    padding: 2.25rem;
  }
  
  .pd-40px {
    padding: 2.5rem;
  }
  
  .pd-56px {
    padding: 3.5rem;
  }

  .pd-64px {
    padding: 4rem;
  }

  .pd-72px {
    padding: 4.5rem;
  }

  .pd-80px {
    padding: 5rem;
  }

  .pd-80px {
    padding: 5rem;
  }

  .pd-96{
    padding: 6rem;
  }