.pd-tp-4 {
  padding-top: 0.25rem;
}

.pd-tp-8 {
  padding-top: 0.5rem;
}

.pd-tp-12 {
  padding-top: 0.75rem;
}

.pd-tp-16 {
  padding-top: 1rem;
}

.pd-tp-18 {
  padding-top: 1.125rem;
}

.pd-tp-20 {
  padding-top: 1.25rem;
}

.pd-tp-24 {
  padding-top: 1.5rem;
}

.pd-tp-28 {
  padding-top: 1.75rem;
}

.pd-tp-32 {
  padding-top: 2rem;
}

.pd-tp-36 {
  padding-top: 2.25rem;
}

.pd-tp-40 {
  padding-top: 2.5rem;
}

.pd-tp-56 {
  padding-top: 3.5rem;
}

.pd-tp-64 {
  padding-top: 4rem;
}

.pd-tp-72 {
  padding-top: 4.5rem;
}

.pd-tp-80 {
  padding-top: 5rem;
}

.pd-tp-80 {
  padding-top: 5rem;
}

.pd-tp-96{
  padding-top: 6rem;
}