.lf {
  left: 0;
}

.lf-25 {
  left: 25%;
}

.lf-33 {
  left: 33%;
}

.lf-50 {
  left: 50%;
}

.lf-75 {
  left: 75%;
}

.lf-100 {
  left: 100%;
}

.lf-n25 {
  left: -25%;
}

.lf-n33 {
  left: -33%;
}

.lf-n50 {
  left: -50%;
}

.lf-n75 {
  left: -75%;
}

.lf-n100 {
  left: -100%;
}
