.bt {
  bottom: 0;
}

.bt-25 {
  bottom: 25%;
}

.bt-33 {
  bottom: 33%;
}

.bt-50 {
  bottom: 50%;
}

.bt-75 {
  bottom: 75%;
}

.bt-100 {
  bottom: 100%;
}

.bt-n25 {
  bottom: -25%;
}

.bt-n33 {
  bottom: -33%;
}

.bt-n50 {
  bottom: -50%;
}

.bt-n75 {
  bottom: -75%;
}

.bt-n100 {
  bottom: -100%;
}
