.fs-56 {
  font-size: 3.5rem;
  font-weight: 400;
}

.fs-36m {
  font-size: 2.25rem;
  font-weight: 500;
}

.fs-36 {
  font-size: 2.25rem;
  font-weight: 400;
}

.fs-24m {
  font-size: 1.5rem;
  font-weight: 500;
}

.fs-24 {
  font-size: 1.5rem;
  font-weight: 400;
}

.fs-20 {
  font-size: 1.25rem;
  font-weight: 400;
}

.fs-18m {
  font-size: 1.125rem;
  font-weight: 500;
}

.fs-18 {
  font-size: 1.125rem;
  font-weight: 400;
}

.fs-16b {
  font-size: 1rem;
  font-weight: 700;
}

.fs-16m {
  font-size: 1rem;
  font-weight: 500;
}

.fs-16 {
  font-size: 1rem;
  font-weight: 400;
}

.fs-16l {
  font-size: 1rem;
  font-weight: 300;
}

.fs-14b{
  font-size: 0.875rem;
  font-weight: 700;
}

.fs-14m{
  font-size: 0.875rem;
  font-weight: 500;
}

.fs-14 {
  font-size: 0.875rem;
  font-weight: 400;
}

.fs-12b {
  font-size: 0.75rem;
  font-weight: 700;
}

.fs-12m {
  font-size: 0.75rem;
  font-weight: 500;
}

.fs-12 {
  font-size: 0.75rem;
  font-weight: 400;
}