.fs-head-1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.fs-head-2 {
  font-size: 2.25rem;
  font-weight: 400;
}

.fs-head-3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.fs-head-4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.fs-head-5 {
  font-size: 1.2rem;
  font-weight: 400;
}

.fs-head-6 {
  font-size: 1.125rem;
  font-weight: 500;
}

.fs-button {
  font-size: 1.125rem;
  font-weight: 700;
}

.fs-button-m {
  font-size: 1rem;
  font-weight: 500;
}

.fs-body-1 {
  font-size: 1.125rem;
  font-weight: 400;
}

.fs-body-2 {
  font-size: 1rem;
  font-weight: 400;
}

.fs-body-3-m {
  font-size: 0.875rem;
  font-weight: 500;
}

.fs-body-3 {
  font-size: 0.875rem;
  font-weight: 400;
}

.fs-quote {
  font-size: 1rem;
  font-weight: 300;
}

.fs-caption {
  font-size: 0.75rem;
  font-weight: 400;
}

.fs-caption-m {
  font-size: 0.75rem;
  font-weight: 500;
}