.w-screen {
  width: 100vw;
}

.w-screen-95{
  width: 95vw;
}

.w-screen-90 {
  width: 90vw;
}

.w-screen-80 {
  width: 80vw;
}

.w-screen-70 {
  width: 70vw;
}

.w-auto {
  width: auto;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.mnw-5 {
 min-width: 5%;
}

.mnw-10 {
  min-width: 10%;
}

.mnw-15 {
  min-width: 15%;
}

.mnw-25 {
  min-width: 25%;
}

.mnw-50 {
  min-width: 50%;
}

.mnw-75 {
 min-width: 75%;
}

.mnw-80 {
  min-width: 80%;
}

.mnw-90 {
  min-width: 90%;
}

.mnw-95 {
  min-width: 95%;
}

.mnw-100 {
  min-width: 100%;
}

.mxw-5 {
  max-width: 5%;
 }
 
 .mxw-10 {
   max-width: 10%;
 }
 
 .mxw-15 {
   max-width: 15%;
 }
 
 .mxw-25 {
   max-width: 25%;
 }
 
 .mxw-50 {
   max-width: 50%;
 }
 
 .mxw-75 {
  max-width: 75%;
 }
 
 .mxw-80 {
   max-width: 80%;
 }
 
 .mxw-90 {
   max-width: 90%;
 }
 
 .mxw-95 {
   max-width: 95%;
 }
 
 .mxw-100 {
   max-width: 100%;
 }

.w-4px {
  width: 0.25rem;
}

.w-8px {
  width: 0.5rem;
}

.w-12px {
  width: 0.75rem;
}

.w-16px {
  width: 1rem;
}

.w-18px {
  width: 1.125rem;
}

.w-20px {
  width: 1.25rem;
}

.w-24px {
  width: 1.5rem;
}

.w-28px {
  width: 1.75rem;
}

.w-32px {
  width: 2rem;
}

.w-36px {
  width: 2.25rem;
}

.w-40px {
  width: 2.5rem;
}

.w-56px {
  width: 3.5rem;
}

.w-64px {
  width: 4rem;
}

.w-72px {
  width: 4.5rem;
}

.w-80px {
  width: 5rem;
}

.w-96px{
  width: 6rem;
}

.w-180px{
  width: 10rem;
}

.w-270px{
  width: 15rem;
}

.w-360px{
  width: 20rem;
}
