.btn-all-apps span,
.btn-my-projects span,
.btn-profile span,
.btn-whats-app span,
.btn-links span,
.btn-email span {
  opacity: 0;
  transform: scale(0.01);
}

.btn-all-apps:hover span,
.btn-my-projects:hover span,
.btn-profile:hover span,
.btn-whats-app:hover span,
.btn-links:hover span,
.btn-email:hover span {
  opacity: 1;
  transform: scale(1);
}

.aplication button::before{
content: "";
position: relative;
display: flex;
margin: auto;
width: 3px;
height: 16px;
border-radius: 8px;
transform: rotate(45deg);
background-color: #d5d5d7;
}

.aplication button::after{
  content: "";
  position: absolute;
  top: 4px;
  left: 11px;
  width: 3px;
  height: 16px;
  border-radius: 8px;
  transform: rotate(-45deg);
  background-color: #d5d5d7;
  }
