$bg-primary: #1b2328;
$bg-secundary: #151c1f;
$bg-accent: #b0d7eb;
$bg-accent-hover: #5fbbe9;
$bg-hover-default: #476f83;

$btn-primary: blue;
$btn-primary-hover: yellow;

$btn-color: black;
$btn-color-hover: white;

$btn-secundary: blue;
$btn-secundary-hover: yellow;

$btn-secundary-color: black;
$btn-secundary-color-hover: white;
