$bg-primary: #1b2328;
$bg-secundary: #151c1f;
$bg-accent: #C0DBF6;
$bg-accent-hover: #82B7EE;
$bg-hover-default: #838188;

$btn-primary: #C0DBF6;
$btn-primary-hover: #82B7EE;

$btn-color: #141415;
$btn-color-hover: #141415;

$btn-secundary: #C0DBF6;
$btn-secundary-hover: #82B7EE;

$btn-secundary-color: #F2F2F3;
$btn-secundary-color-hover: #141415;
