* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

button {
  border: none;
}

.mg-auto {
  margin: auto;
}

.bg-primary {
  background-color: #1b2328;
}

.bg-secundary {
  background-color: #151c1f;
}

.bg-accent-primary {
  background-color: #b0d7eb;
}
.bg-accent-primary:hover {
  background-color: #5fbbe9;
}

.hover-default:hover {
  background-color: #476f83;
}

.bg-accent-secundary {
  background-color: #2929a3;
}

.bg-primary-o-70 {
  background-color: rgba(30, 37, 41, 0.7);
}

.bg-black-50 {
  background-color: #fafafa;
}

.fc-black-50 {
  color: #fafafa;
}

.bg-black-100 {
  background-color: #eaeaeb;
}

.fc-black-100 {
  color: #eaeaeb;
}

.bg-black-150 {
  background-color: #d5d5d7;
}

.fc-black-150 {
  color: #d5d5d7;
}

.bg-black-200 {
  background-color: #acabb0;
}

.fc-black-200 {
  color: #acabb0;
}

.bg-black-300 {
  background-color: #838188;
}

.fc-black-300 {
  color: #838188;
}

.bg-black-400 {
  background-color: #5b595f;
}

.fc-black-400 {
  color: #5b595f;
}

.bg-black-500 {
  background-color: #47454a;
}

.fc-black-500 {
  color: #47454a;
}

.bg-black-600 {
  background-color: #3d3b3f;
}

.fc-black-600 {
  color: #3d3b3f;
}

.bg-black-700 {
  background-color: #2d2d2f;
}

.fc-black-700 {
  color: #2d2d2f;
}

.bg-black-800 {
  background-color: #1e1e20;
}

.fc-black-800 {
  color: #1e1e20;
}

.bg-black-900 {
  background-color: #141415;
}

.fc-black-900 {
  color: #141415;
}

.bg-sky-100 {
  background-color: #b2e2fa;
}

.fc-sky-100 {
  color: #b2e2fa;
}

.bg-sky-200 {
  background-color: #65c5f6;
}

.fc-sky-200 {
  color: #65c5f6;
}

.bg-sky-300 {
  background-color: #18a8f1;
}

.fc-sky-300 {
  color: #18a8f1;
}

.bd-sky-300 {
  color: #18a8f1;
}

.bg-sky-400 {
  background-color: #0a6fa3;
}

.fc-sky-400 {
  color: #0a6fa3;
}

.bg-sky-500 {
  background-color: #074f73;
}

.fc-sky-500 {
  color: #074f73;
}

.bg-sky-600 {
  background-color: #053b57;
}

.fc-sky-600 {
  color: #053b57;
}

.bg-sky-700 {
  background-color: #03273a;
}

.fc-sky-700 {
  color: #03273a;
}

.ps-relative {
  position: relative;
}

.ps-absolute {
  position: absolute;
}

.ps-fixed {
  position: fixed;
}

.ps-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.tp {
  top: 0;
}

.tp-25 {
  top: 25%;
}

.tp-33 {
  top: 33%;
}

.tp-50 {
  top: 50%;
}

.tp-75 {
  top: 75%;
}

.tp-100 {
  top: 100%;
}

.tp-n25 {
  top: -25%;
}

.tp-n33 {
  top: -33%;
}

.tp-n50 {
  top: -50%;
}

.tp-n75 {
  top: -75%;
}

.tp-n100 {
  top: -100%;
}

.bt {
  bottom: 0;
}

.bt-25 {
  bottom: 25%;
}

.bt-33 {
  bottom: 33%;
}

.bt-50 {
  bottom: 50%;
}

.bt-75 {
  bottom: 75%;
}

.bt-100 {
  bottom: 100%;
}

.bt-n25 {
  bottom: -25%;
}

.bt-n33 {
  bottom: -33%;
}

.bt-n50 {
  bottom: -50%;
}

.bt-n75 {
  bottom: -75%;
}

.bt-n100 {
  bottom: -100%;
}

.lf {
  left: 0;
}

.lf-25 {
  left: 25%;
}

.lf-33 {
  left: 33%;
}

.lf-50 {
  left: 50%;
}

.lf-75 {
  left: 75%;
}

.lf-100 {
  left: 100%;
}

.lf-n25 {
  left: -25%;
}

.lf-n33 {
  left: -33%;
}

.lf-n50 {
  left: -50%;
}

.lf-n75 {
  left: -75%;
}

.lf-n100 {
  left: -100%;
}

.rg {
  right: 0;
}

.rg-25 {
  right: 25%;
}

.rg-33 {
  right: 33%;
}

.rg-50 {
  right: 50%;
}

.rg-75 {
  right: 75%;
}

.rg-100 {
  right: 100%;
}

.rg-n25 {
  right: -25%;
}

.rg-n33 {
  right: -33%;
}

.rg-n50 {
  right: -50%;
}

.rg-n75 {
  right: -75%;
}

.rg-n100 {
  right: -100%;
}

.mg-lf-25n {
  margin-left: -25%;
  background-color: red;
}

.mg-lf-4px {
  margin-left: 0.25rem;
}

.mg-lf-8px {
  margin-left: 0.5rem;
}

.mg-lf-12px {
  margin-left: 0.75rem;
}

.mg-lf-16px {
  margin-left: 1rem;
}

.mg-lf-18px {
  margin-left: 1.125rem;
}

.mg-lf-20px {
  margin-left: 1.25rem;
}

.mg-lf-24px {
  margin-left: 1.5rem;
}

.mg-lf-28px {
  margin-left: 1.75rem;
}

.mg-lf-32px {
  margin-left: 2rem;
}

.mg-lf-36px {
  margin-left: 2.25rem;
}

.mg-lf-40px {
  margin-left: 2.5rem;
}

.mg-lf-56px {
  margin-left: 3.5rem;
}

.mg-lf-64px {
  margin-left: 4rem;
}

.mg-lf-72px {
  margin-left: 4.5rem;
}

.mg-lf-80px {
  margin-left: 5rem;
}

.mg-lf-80px {
  margin-left: 5rem;
}

.mg-lf-96px {
  margin-left: 6rem;
}

.mg-lf-n4px {
  margin-left: -0.25rem;
}

.mg-lf-n8px {
  margin-left: -0.5rem;
}

.mg-lf-n12px {
  margin-left: -0.75rem;
}

.mg-lf-n16px {
  margin-left: -1rem;
}

.mg-lf-n18px {
  margin-left: -1.125rem;
}

.mg-lf-n20px {
  margin-left: -1.25rem;
}

.mg-lf-n24px {
  margin-left: -1.5rem;
}

.mg-lf-n28px {
  margin-left: -1.75rem;
}

.mg-lf-n32px {
  margin-left: -2rem;
}

.mg-lf-n36px {
  margin-left: -2.25rem;
}

.mg-lf-n40px {
  margin-left: -2.5rem;
}

.mg-lf-n56px {
  margin-left: -3.5rem;
}

.mg-lf-n64px {
  margin-left: -4rem;
}

.mg-lf-n72px {
  margin-left: -4.5rem;
}

.mg-lf-n80px {
  margin-left: -5rem;
}

.mg-lf-n80px {
  margin-left: -5rem;
}

.mg-lf-n96px {
  margin-left: -6rem;
}

.mg-tp-4px {
  margin-top: 0.25rem;
}

.mg-tp-8px {
  margin-top: 0.5rem;
}

.mg-tp-12px {
  margin-top: 0.75rem;
}

.mg-tp-16px {
  margin-top: 1rem;
}

.mg-tp-18px {
  margin-top: 1.125rem;
}

.mg-tp-20px {
  margin-top: 1.25rem;
}

.mg-tp-24px {
  margin-top: 1.5rem;
}

.mg-tp-28px {
  margin-top: 1.75rem;
}

.mg-tp-32px {
  margin-top: 2rem;
}

.mg-tp-36px {
  margin-top: 2.25rem;
}

.mg-tp-40px {
  margin-top: 2.5rem;
}

.mg-tp-56px {
  margin-top: 3.5rem;
}

.mg-tp-64px {
  margin-top: 4rem;
}

.mg-tp-72px {
  margin-top: 4.5rem;
}

.mg-tp-80px {
  margin-top: 5rem;
}

.mg-tp-80px {
  margin-top: 5rem;
}

.mg-tp-96px {
  margin-top: 6rem;
}

.mg-tp-n4px {
  margin-top: -0.25rem;
}

.mg-tp-n8px {
  margin-top: -0.5rem;
}

.mg-tp-n12px {
  margin-top: -0.75rem;
}

.mg-tp-n16px {
  margin-top: -1rem;
}

.mg-tp-n18px {
  margin-top: -1.125rem;
}

.mg-tp-n20px {
  margin-top: -1.25rem;
}

.mg-tp-n24px {
  margin-top: -1.5rem;
}

.mg-tp-n28px {
  margin-top: -1.75rem;
}

.mg-tp-n32px {
  margin-top: -2rem;
}

.mg-tp-n36px {
  margin-top: -2.25rem;
}

.mg-tp-n40px {
  margin-top: -2.5rem;
}

.mg-tp-n56px {
  margin-top: -3.5rem;
}

.mg-tp-n64px {
  margin-top: -4rem;
}

.mg-tp-n72px {
  margin-top: -4.5rem;
}

.mg-tp-n80px {
  margin-top: -5rem;
}

.mg-tp-n80px {
  margin-top: -5rem;
}

.mg-tp-n96px {
  margin-top: -6rem;
}

.mg-rg-4px {
  margin-right: 0.25rem;
}

.mg-rg-8px {
  margin-right: 0.5rem;
}

.mg-rg-12px {
  margin-right: 0.75rem;
}

.mg-rg-16px {
  margin-right: 1rem;
}

.mg-rg-18px {
  margin-right: 1.125rem;
}

.mg-rg-20px {
  margin-right: 1.25rem;
}

.mg-rg-24px {
  margin-right: 1.5rem;
}

.mg-rg-28px {
  margin-right: 1.75rem;
}

.mg-rg-32px {
  margin-right: 2rem;
}

.mg-rg-36px {
  margin-right: 2.25rem;
}

.mg-rg-40px {
  margin-right: 2.5rem;
}

.mg-rg-56px {
  margin-right: 3.5rem;
}

.mg-rg-64px {
  margin-right: 4rem;
}

.mg-rg-72px {
  margin-right: 4.5rem;
}

.mg-rg-80px {
  margin-right: 5rem;
}

.mg-rg-80px {
  margin-right: 5rem;
}

.mg-rg-96px {
  margin-right: 6rem;
}

.mg-rg-n4px {
  margin-right: -0.25rem;
}

.mg-rg-n8px {
  margin-right: -0.5rem;
}

.mg-rg-n12px {
  margin-right: -0.75rem;
}

.mg-rg-n16px {
  margin-right: -1rem;
}

.mg-rg-n18px {
  margin-right: -1.125rem;
}

.mg-rg-n20px {
  margin-right: -1.25rem;
}

.mg-rg-n24px {
  margin-right: -1.5rem;
}

.mg-rg-n28px {
  margin-right: -1.75rem;
}

.mg-rg-n32px {
  margin-right: -2rem;
}

.mg-rg-n36px {
  margin-right: -2.25rem;
}

.mg-rg-n40px {
  margin-right: -2.5rem;
}

.mg-rg-n56px {
  margin-right: -3.5rem;
}

.mg-rg-n64px {
  margin-right: -4rem;
}

.mg-rg-n72px {
  margin-right: -4.5rem;
}

.mg-rg-n80px {
  margin-right: -5rem;
}

.mg-rg-n80px {
  margin-right: -5rem;
}

.mg-rg-n96px {
  margin-right: -6rem;
}

.mg-bt-4px {
  margin-bottom: 0.25rem;
}

.mg-bt-8px {
  margin-bottom: 0.5rem;
}

.mg-bt-12px {
  margin-bottom: 0.75rem;
}

.mg-bt-16px {
  margin-bottom: 1rem;
}

.mg-bt-18px {
  margin-bottom: 1.125rem;
}

.mg-bt-20px {
  margin-bottom: 1.25rem;
}

.mg-bt-24px {
  margin-bottom: 1.5rem;
}

.mg-bt-28px {
  margin-bottom: 1.75rem;
}

.mg-bt-32px {
  margin-bottom: 2rem;
}

.mg-bt-36px {
  margin-bottom: 2.25rem;
}

.mg-bt-40px {
  margin-bottom: 2.5rem;
}

.mg-bt-56px {
  margin-bottom: 3.5rem;
}

.mg-bt-64px {
  margin-bottom: 4rem;
}

.mg-bt-72px {
  margin-bottom: 4.5rem;
}

.mg-bt-80px {
  margin-bottom: 5rem;
}

.mg-bt-80px {
  margin-bottom: 5rem;
}

.mg-bt-96px {
  margin-bottom: 6rem;
}

.mg-bt-n4px {
  margin-bottom: -0.25rem;
}

.mg-bt-n8px {
  margin-bottom: -0.5rem;
}

.mg-bt-n12px {
  margin-bottom: -0.75rem;
}

.mg-bt-n16px {
  margin-bottom: -1rem;
}

.mg-bt-n18px {
  margin-bottom: -1.125rem;
}

.mg-bt-n20px {
  margin-bottom: -1.25rem;
}

.mg-bt-n24px {
  margin-bottom: -1.5rem;
}

.mg-bt-n28px {
  margin-bottom: -1.75rem;
}

.mg-bt-n32px {
  margin-bottom: -2rem;
}

.mg-bt-n36px {
  margin-bottom: -2.25rem;
}

.mg-bt-n40px {
  margin-bottom: -2.5rem;
}

.mg-bt-n56px {
  margin-bottom: -3.5rem;
}

.mg-bt-n64px {
  margin-bottom: -4rem;
}

.mg-bt-n72px {
  margin-bottom: -4.5rem;
}

.mg-bt-n80px {
  margin-bottom: -5rem;
}

.mg-bt-n80px {
  margin-bottom: -5rem;
}

.mg-bt-n96px {
  margin-bottom: -6rem;
}

.w-screen {
  width: 100vw;
}

.w-auto {
  width: auto;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.w-4px {
  width: 0.25rem;
}

.w-8px {
  width: 0.5rem;
}

.w-12px {
  width: 0.75rem;
}

.w-16px {
  width: 1rem;
}

.w-18px {
  width: 1.125rem;
}

.w-20px {
  width: 1.25rem;
}

.w-24px {
  width: 1.5rem;
}

.w-28px {
  width: 1.75rem;
}

.w-32px {
  width: 2rem;
}

.w-36px {
  width: 2.25rem;
}

.w-40px {
  width: 2.5rem;
}

.w-56px {
  width: 3.5rem;
}

.h-screen {
  height: 100vh;
}

.h-auto {
  height: auto;
}

.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-100 {
  height: 100%;
}

.h-4px {
  height: 0.25rem;
}

.h-8px {
  height: 0.5rem;
}

.h-12px {
  height: 0.75rem;
}

.h-16px {
  height: 1rem;
}

.h-18px {
  height: 1.125rem;
}

.h-20px {
  height: 1.25rem;
}

.h-24px {
  height: 1.5rem;
}

.h-28px {
  height: 1.75rem;
}

.h-32px {
  height: 2rem;
}

.h-36px {
  height: 2.25rem;
}

.h-40px {
  height: 2.5rem;
}

.h-56px {
  height: 3.5rem;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-between {
  justify-content: space-between;
}

.ai-baseline {
  align-items: baseline;
}

.ai-center {
  align-items: center;
}

.fd-col {
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.grd-tpt-col-auto {
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
}

.d-block {
  display: block;
}

.pd-4px {
  padding: 0.25rem;
}

.pd-8px {
  padding: 0.5rem;
}

.pd-12px {
  padding: 0.75rem;
}

.pd-16px {
  padding: 1rem;
}

.pd-18px {
  padding: 1.125rem;
}

.pd-20px {
  padding: 1.25rem;
}

.pd-24px {
  padding: 1.5rem;
}

.pd-28px {
  padding: 1.75rem;
}

.pd-32px {
  padding: 2rem;
}

.pd-36px {
  padding: 2.25rem;
}

.pd-40px {
  padding: 2.5rem;
}

.pd-56px {
  padding: 3.5rem;
}

.pd-64px {
  padding: 4rem;
}

.pd-72px {
  padding: 4.5rem;
}

.pd-80px {
  padding: 5rem;
}

.pd-80px {
  padding: 5rem;
}

.pd-96 {
  padding: 6rem;
}

.pd-lf-4px {
  padding-left: 0.25rem;
}

.pd-lf-8px {
  padding-left: 0.5rem;
}

.pd-lf-12px {
  padding-left: 0.75rem;
}

.pd-lf-16px {
  padding-left: 1rem;
}

.pd-lf-18px {
  padding-left: 1.125rem;
}

.pd-lf-20px {
  padding-left: 1.25rem;
}

.pd-lf-24px {
  padding-left: 1.5rem;
}

.pd-lf-28px {
  padding-left: 1.75rem;
}

.pd-lf-32px {
  padding-left: 2rem;
}

.pd-lf-36px {
  padding-left: 2.25rem;
}

.pd-lf-40px {
  padding-left: 2.5rem;
}

.pd-lf-56px {
  padding-left: 3.5rem;
}

.pd-lf-64px {
  padding-left: 4rem;
}

.pd-lf-72px {
  padding-left: 4.5rem;
}

.pd-lf-80px {
  padding-left: 5rem;
}

.pd-lf-80px {
  padding-left: 5rem;
}

.pd-lf-96 {
  padding-left: 6rem;
}

.pd-tp-4px {
  padding-top: 0.25rem;
}

.pd-tp-8px {
  padding-top: 0.5rem;
}

.pd-tp-12px {
  padding-top: 0.75rem;
}

.pd-tp-16px {
  padding-top: 1rem;
}

.pd-tp-18px {
  padding-top: 1.125rem;
}

.pd-tp-20px {
  padding-top: 1.25rem;
}

.pd-tp-24px {
  padding-top: 1.5rem;
}

.pd-tp-28px {
  padding-top: 1.75rem;
}

.pd-tp-32px {
  padding-top: 2rem;
}

.pd-tp-36px {
  padding-top: 2.25rem;
}

.pd-tp-40px {
  padding-top: 2.5rem;
}

.pd-tp-56px {
  padding-top: 3.5rem;
}

.pd-tp-64px {
  padding-top: 4rem;
}

.pd-tp-72px {
  padding-top: 4.5rem;
}

.pd-tp-80px {
  padding-top: 5rem;
}

.pd-tp-80px {
  padding-top: 5rem;
}

.pd-tp-96 {
  padding-top: 6rem;
}

.pd-rg-4px {
  padding-right: 0.25rem;
}

.pd-rg-8px {
  padding-right: 0.5rem;
}

.pd-rg-12px {
  padding-right: 0.75rem;
}

.pd-rg-16px {
  padding-right: 1rem;
}

.pd-rg-18px {
  padding-right: 1.125rem;
}

.pd-rg-20px {
  padding-right: 1.25rem;
}

.pd-rg-24px {
  padding-right: 1.5rem;
}

.pd-rg-28px {
  padding-right: 1.75rem;
}

.pd-rg-32px {
  padding-right: 2rem;
}

.pd-rg-36px {
  padding-right: 2.25rem;
}

.pd-rg-40px {
  padding-right: 2.5rem;
}

.pd-rg-56px {
  padding-right: 3.5rem;
}

.pd-rg-64px {
  padding-right: 4rem;
}

.pd-rg-72px {
  padding-right: 4.5rem;
}

.pd-rg-80px {
  padding-right: 5rem;
}

.pd-rg-80px {
  padding-right: 5rem;
}

.pd-rg-96px {
  padding-right: 6rem;
}

.pd-bt-4px {
  padding-bottom: 0.25rem;
}

.pd-bt-8px {
  padding-bottom: 0.5rem;
}

.pd-bt-12px {
  padding-bottom: 0.75rem;
}

.pd-bt-16px {
  padding-bottom: 1rem;
}

.pd-bt-18px {
  padding-bottom: 1.125rem;
}

.pd-bt-20px {
  padding-bottom: 1.25rem;
}

.pd-bt-24px {
  padding-bottom: 1.5rem;
}

.pd-bt-28px {
  padding-bottom: 1.75rem;
}

.pd-bt-32px {
  padding-bottom: 2rem;
}

.pd-bt-36px {
  padding-bottom: 2.25rem;
}

.pd-bt-40px {
  padding-bottom: 2.5rem;
}

.pd-bt-56px {
  padding-bottom: 3.5rem;
}

.pd-bt-64px {
  padding-bottom: 4rem;
}

.pd-bt-72px {
  padding-bottom: 4.5rem;
}

.pd-bt-80px {
  padding-bottom: 5rem;
}

.pd-bt-80px {
  padding-bottom: 5rem;
}

.pd-bt-96 {
  padding-bottom: 6rem;
}

.gp-4px {
  gap: 0.25rem;
}

.gp-8px {
  gap: 0.5rem;
}

.gp-12px {
  gap: 0.75rem;
}

.gp-16px {
  gap: 1rem;
}

.gp-18px {
  gap: 1.125rem;
}

.gp-20px {
  gap: 1.25rem;
}

.gp-24px {
  gap: 1.5rem;
}

.gp-28px {
  gap: 1.75rem;
}

.gp-32px {
  gap: 2rem;
}

.gp-36px {
  gap: 2.25rem;
}

.gp-40px {
  gap: 2.5rem;
}

.gp-56px {
  gap: 3.5rem;
}

.gp-64px {
  gap: 4rem;
}

.gp-72px {
  gap: 4.5rem;
}

.gp-80px {
  gap: 5rem;
}

.gp-80px {
  gap: 5rem;
}

.gp-96px {
  gap: 6rem;
}

.br-50 {
  border-radius: 50%;
}

.br-4px {
  border-radius: 0.25rem;
}

.br-8px {
  border-radius: 0.5rem;
}

.br-12px {
  border-radius: 0.75rem;
}

.br-16px {
  border-radius: 1rem;
}

.br-18px {
  border-radius: 1.125rem;
}

.br-20px {
  border-radius: 1.25rem;
}

.br-24px {
  border-radius: 1.5rem;
}

.br-28px {
  border-radius: 1.75rem;
}

.br-32px {
  border-radius: 2rem;
}

.br-36px {
  border-radius: 2.25rem;
}

.br-40px {
  border-radius: 2.5rem;
}

.br-56px {
  border-radius: 3.5rem;
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

.of-scroll {
  overflow: scroll;
}

.of-hidden {
  overflow: hidden;
}

.bar-hidden-scroll-chrome-safari::-webkit-scrollbar {
  display: none;
}

.bar-hidden-scroll-fox {
  overflow: -moz-scrollbars-none;
}

.bar-hidden-scroll-ie {
  -ms-overflow-style: none;
}

.cr-pointer {
  cursor: pointer;
}

.cr-default {
  cursor: default;
}

.cr-image {
  cursor: url("../assets/background/pointer-figma.svg"), auto;
}

.o-0 {
  opacity: 0;
}

.o-25 {
  opacity: 0.25;
}

.o-50 {
  opacity: 0.5;
}

.o-75 {
  opacity: 0.75;
}

.o-100 {
  opacity: 1;
}

.ts-03 {
  transition: 0.3s;
}

.fs-56 {
  font-size: 3.5rem;
  font-weight: 400;
}

.fs-36m {
  font-size: 2.25rem;
  font-weight: 500;
}

.fs-36 {
  font-size: 2.25rem;
  font-weight: 400;
}

.fs-24m {
  font-size: 1.5rem;
  font-weight: 500;
}

.fs-24 {
  font-size: 1.5rem;
  font-weight: 400;
}

.fs-20 {
  font-size: 1.25rem;
  font-weight: 400;
}

.fs-18m {
  font-size: 1.125rem;
  font-weight: 500;
}

.fs-18 {
  font-size: 1.125rem;
  font-weight: 400;
}

.fs-16b {
  font-size: 1rem;
  font-weight: 700;
}

.fs-16m {
  font-size: 1rem;
  font-weight: 500;
}

.fs-16 {
  font-size: 1rem;
  font-weight: 400;
}

.fs-16l {
  font-size: 1rem;
  font-weight: 300;
}

.fs-14b {
  font-size: 0.875rem;
  font-weight: 700;
}

.fs-14m {
  font-size: 0.875rem;
  font-weight: 500;
}

.fs-14 {
  font-size: 0.875rem;
  font-weight: 400;
}

.fs-12b {
  font-size: 0.75rem;
  font-weight: 700;
}

.fs-12m {
  font-size: 0.75rem;
  font-weight: 500;
}

.fs-12 {
  font-size: 0.75rem;
  font-weight: 400;
}

@media (max-width: 960px) {
  .mlb-d-flex {
    display: flex;
  }
}
.btn-all-apps span,
.btn-my-projects span,
.btn-profile span,
.btn-whats-app span,
.btn-links span,
.btn-email span {
  opacity: 0;
  transform: scale(0.01);
}

.btn-all-apps:hover span,
.btn-my-projects:hover span,
.btn-profile:hover span,
.btn-whats-app:hover span,
.btn-links:hover span,
.btn-email:hover span {
  opacity: 1;
  transform: scale(1);
}

.aplication button::before {
  content: "";
  position: relative;
  display: flex;
  margin: auto;
  width: 3px;
  height: 16px;
  border-radius: 8px;
  transform: rotate(45deg);
  background-color: #d5d5d7;
}

.aplication button::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 11px;
  width: 3px;
  height: 16px;
  border-radius: 8px;
  transform: rotate(-45deg);
  background-color: #d5d5d7;
}/*# sourceMappingURL=style.css.map */