* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
}

span{
  opacity: 0,5;
}

li{
  list-style: none;
}

.op-100t:hover{
  opacity: 1;
}

.mg-auto{
  margin: auto;
}

@import '_desktop.scss';
@import '_mobile.scss';
@import '_my-class.scss';


