.mbl-pd-tp-0px {
  padding-top: 0rem;
}

.mbl-pd-tp-4px {
  padding-top: 0.25rem;
}

.mbl-pd-tp-8px {
  padding-top: 0.5rem;
}

.mbl-pd-tp-12px {
  padding-top: 0.75rem;
}

.mbl-pd-tp-16px {
  padding-top: 1rem;
}

.mbl-pd-tp-18px {
  padding-top: 1.125rem;
}

.mbl-pd-tp-20px {
  padding-top: 1.25rem;
}

.mbl-pd-tp-24px {
  padding-top: 1.5rem;
}

.mbl-pd-tp-28px {
  padding-top: 1.75rem;
}

.mbl-pd-tp-32px {
  padding-top: 2rem;
}

.mbl-pd-tp-36px {
  padding-top: 2.25rem;
}

.mbl-pd-tp-40px {
  padding-top: 2.5rem;
}

.mbl-pd-tp-56px {
  padding-top: 3.5rem;
}

.mbl-pd-tp-64px {
  padding-top: 4rem;
}

.mbl-pd-tp-72px {
  padding-top: 4.5rem;
}

.mbl-pd-tp-80px {
  padding-top: 5rem;
}

.mbl-pd-tp-80px {
  padding-top: 5rem;
}

.mbl-pd-tp-96{
  padding-top: 6rem;
}