.mbl-h-screen {
  height: 100vh;
}

.mbl-h-screen-90 {
  height: 90vh;
}

.mbl-h-screen-80 {
  height: 80vh;
}

.mbl-h-screen-70 {
  height: 70vh;
}

.mbl-h-auto {
  height: auto;
}

.mbl-h-5 {
  height: 5%;
}

.mbl-h-10 {
  height: 10%;
}

.mbl-h-15 {
  height: 15%;
}

.mbl-h-25 {
  height: 25%;
}

.mbl-h-35 {
  height: 33%;
}

.mbl-h-50 {
  height: 50%;
}

.mbl-h-75 {
  height: 75%;
}

.mbl-h-80 {
  height: 80%;
}

.mbl-h-90 {
  height: 90%;
}

.mbl-h-100 {
  height: 100%;
}

.mbl-h-4px {
  height: 0.25rem;
}

.mbl-h-8px {
  height: 0.5rem;
}

.mbl-h-12px {
  height: 0.75rem;
}

.mbl-h-16px {
  height: 1rem;
}

.mbl-h-18px {
  height: 1.125rem;
}

.mbl-h-20px {
  height: 1.25rem;
}

.mbl-h-24px {
  height: 1.5rem;
}

.mbl-h-28px {
  height: 1.75rem;
}

.mbl-h-32px {
  height: 2rem;
}

.mbl-h-36px {
  height: 2.25rem;
}

.mbl-h-40px {
  height: 2.5rem;
}

.mbl-h-56px {
  height: 3.5rem;
}

.mbl-h-64px {
  height: 4rem;
}

.mbl-h-72px {
  height: 4.5rem;
}

.mbl-h-80px {
  height: 5rem;
}

.mbl-h-80px {
  height: 5rem;
}

.mbl-h-96px{
  height: 6rem;
}

.mbl-h-180px{
  height: 10rem;
}

.mbl-h-360px{
  height: 20rem;
}
