.mbl-w-screen {
  width: 100vw;
}

.mbl-w-screen-90 {
  width: 90vw;
}

.mbl-w-screen-80 {
  width: 80vw;
}

.mbl-w-screen-70 {
  width: 70vw;
}

.mbl-w-auto {
  width: auto;
}

.mbl-w-5 {
  width: 5%;
}

.mbl-w-10 {
  width: 10%;
}

.mbl-w-15 {
  width: 15%;
}

.mbl-w-25 {
  width: 25%;
}

.mbl-w-50 {
  width: 50%;
}

.mbl-w-70 {
  width: 70%;
}

.mbl-w-75 {
  width: 75%;
}

.mbl-w-80 {
  width: 80%;
}

.mbl-w-90 {
  width: 90%;
}

.mbl-w-95 {
  width: 95%;
}

.mbl-w-100 {
  width: 100%;
}

.mbl-w-4px {
  width: 0.25rem;
}

.mbl-w-8px {
  width: 0.5rem;
}

.mbl-w-12px {
  width: 0.75rem;
}

.mbl-w-16px {
  width: 1rem;
}

.mbl-w-18px {
  width: 1.125rem;
}

.mbl-w-20px {
  width: 1.25rem;
}

.mbl-w-24px {
  width: 1.5rem;
}

.mbl-w-28px {
  width: 1.75rem;
}

.mbl-w-32px {
  width: 2rem;
}

.mbl-w-36px {
  width: 2.25rem;
}

.mbl-w-40px {
  width: 2.5rem;
}

.mbl-w-56px {
  width: 3.5rem;
}

.mbl-w-64px {
  width: 4rem;
}

.mbl-w-72px {
  width: 4.5rem;
}

.mbl-w-80px {
  width: 5rem;
}

.mbl-w-96px{
  width: 6rem;
}

.mbl-w-180px{
  width: 10rem;
}

.mbl-w-270px{
  width: 15rem;
}

.mbl-w-360px{
  width: 20rem;
}
