.mbl-gp-4px {
  gap: 0.25rem;
}

.mbl-gp-8px {
  gap: 0.5rem;
}

.mbl-gp-12px {
  gap: 0.75rem;
}

.mbl-gp-16px {
  gap: 1rem;
}

.mbl-gp-18px {
  gap: 1.125rem;
}

.mbl-gp-20px {
  gap: 1.25rem;
}

.mbl-gp-24px {
  gap: 1.5rem;
}

.mbl-gp-28px {
  gap: 1.75rem;
}

.mbl-gp-32px {
  gap: 2rem;
}

.mbl-gp-36px {
  gap: 2.25rem;
}

.mbl-gp-40px {
  gap: 2.5rem;
}

.mbl-gp-56px {
  gap: 3.5rem;
}


.mbl-gp-64px {
  gap: 4rem;
}

.mbl-gp-72px {
  gap: 4.5rem;
}

.mbl-gp-80px {
  gap: 5rem;
}

.mbl-gp-80px {
  gap: 5rem;
}

.mbl-gp-96px{
  gap: 6rem;
}
